/*--------GLOBAL--------*/

:root{
    --black: #1e1e1a;
    --white: #f8f8f8; 
    --heading: 3.2rem;
    --text: 1.8rem;
    --quicksand: 'Quicksand', sans-serif;
    --shadows-into-light: 'Shadows Into Light', cursive;
    --source-code-pro: 'Source Code Pro', monospace;
}

body{
    background-color:black;
}

/*--------HEADER--------*/

header{
    height: 14vh;
    box-shadow: 0px 7px 26px -12px rgba(128,128,128,0.79);
    -webkit-box-shadow: 0px 7px 26px -12px rgba(128,128,128,0.79);
    -moz-box-shadow: 0px 7px 26px -12px rgba(128,128,128,0.79);
}

header * {
    color: var(--white);
    font-family: var(--source-code-pro);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5.5rem;
}

.navbar-brand {
    font-size: var(--heading);   
}

.navbar-nav{
    margin-right: 0;
    margin-left: auto;
    font-size: var(--text);
}

.nav-item{
    padding-left: 3rem;
}

.navbar-toggler-icon{
    background-image: url("../images/icons/menu-icon-light.ico");
    width: 35px;
    height: 30px;
}

.navbar-toggler-icon:hover {
    box-shadow: 0px -1px 3px 0px rgba(128,128,128,0.8);
    -webkit-box-shadow: 0px -1px 3px 0px rgba(128,128,128,0.8);
    -moz-box-shadow: 0px -1px 3px 0px rgba(128,128,128,0.8);
    border-radius: 2px;
}
